config/xsd/icdt/esMD_ICDTDataElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://cms.hhs.gov/esmd/icdt" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://cms.hhs.gov/esmd/icdt" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--  Initial Version : esMD AR2017.04.0 Release. - esMD ICDT Process Meta Data Elements-->
	<xs:element name="ICDTRequest">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ICDTHeaderType">
					<xs:sequence>
						<xs:element name="TransactionType" type="DocIDType" minOccurs="1" maxOccurs="1" nillable="false">
							<xs:annotation>
								<xs:documentation>Claim
									Appeals
									Prior Auth
									Provider Ed/Review
									MR Request
									Other</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Documentation" type="DocumentationType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ICDTResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ICDTHeaderType">
					<xs:sequence>
						<xs:element name="responseID" type="uniqueIDType" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation> Unique ID: Should be generated by RC Client</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TransactionType" type="DocIDType">
							<xs:annotation>
								<xs:documentation>MAC-Misroute
SMRC-Misroute
ZPIC-Misroute
QIO-Misroute
QIC-Misroute
ARC/CERT-Misroute
RA-Misroute
Other-Misroute
Claim
Appeals
PriorAuth
ProviderEd/Review
MRRequest
Other</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Documentation" type="DocumentationType" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element name="numberOfDocuments" minOccurs="1" maxOccurs="1"  nillable="false">
							<xs:annotation>
								<xs:documentation>total number of documents.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="comments" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="3000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="OIDType">
		<xs:annotation>
			<xs:documentation>Generic OID definition</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uniqueIDType">
		<xs:annotation>
			<xs:documentation> Unique ID(RequestID/ResponseID): Should be generated by RC Client. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ICDTHeaderType">
		<xs:sequence>
			<xs:element name="receiverOID" type="OIDType"  minOccurs="1" maxOccurs="1" nillable="false"/>
			<xs:element name="receiverID" type="IDType" minOccurs="1" maxOccurs="1" nillable="false">
				<xs:annotation>
					<xs:documentation>Reciever Work Load Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="senderOID" type="OIDType" minOccurs="1" maxOccurs="1" nillable="false"/>
			<xs:element name="senderID" type="IDType" minOccurs="1" maxOccurs="1" nillable="false">
				<xs:annotation>
					<xs:documentation>Sender Work Load Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestID" type="uniqueIDType" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique ID: Should be generated by RC Client</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contentType" minOccurs="1" maxOccurs="1"  nillable="false">
				<xs:annotation>
					<xs:documentation>15.1 ---- ICDT Request
					15.2 ---- ICDT Response
					15.3 ---- ICDT Response Unsolicited</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="15.1"/>
						<xs:enumeration value="15.2"/>
						<xs:enumeration value="15.3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocIDType">
		<xs:sequence>
			<xs:element name="OptionalMetadata" type="OptionalDataField" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="transType" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="OptionalDataField">
		<xs:sequence>
			<xs:element name="FieldName">
				<xs:annotation>
					<xs:documentation>The name of a field restricted to 32 characters.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FieldValue">
				<xs:annotation>
					<xs:documentation>The value of a field restricted to 255 characters.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentationType">
		<xs:sequence>
			<xs:element name="OptionalMetadata" type="OptionalDataField" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="FileName" type="xs:string" use="required"/>
		<xs:attribute name="MimeType" type="xs:string" use="required"/>
		<xs:attribute name="DocUniqueID" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="ICDTCommunication">
		<xs:complexType>
			<xs:choice>
				<xs:element name="ICDTNotification" type="ICDTNotificationType" maxOccurs="unbounded"/>
				<xs:element name="ICDTNotificationFailure">
					<xs:complexType>
                        <xs:complexContent>
                        	<xs:extension base="ICDTNotificationType">
								<xs:sequence>
									<xs:element name="ValidationFailure" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FailureCode" type="xs:string"/>
												<xs:element name="FailureReason" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ICDTNotificationType">
		<xs:sequence>
			<xs:element name="ICDTMetaData" type="ICDTHeaderType" minOccurs="0"/>
			<xs:element name="creationTime" type="xs:dateTime"  minOccurs="1" maxOccurs="1">
				<xs:annotation>
                    <xs:documentation>Represents the time when the document or other action was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="responseID" type="uniqueIDType" />
			<xs:element name="fileName" type="xs:string"/>
			<xs:element name="Status">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="description" type="xs:string" minOccurs="0"/>
						<xs:element name="serviceSuccessful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="RequestType" type="xs:string" use="required"/>
		<xs:attribute name="id" type="xs:integer" use="optional"/>
	</xs:complexType>
</xs:schema>
