config/xsd/emdr/eMDRABMACSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:tns="http://esmd.ois.cms.hhs.gov/rc/eMDRABMACSchema"
	 xmlns:emdrct="http://esmd.ois.cms.hhs.gov/rc/eMDRCommonTypes"
	 targetNamespace="http://esmd.ois.cms.hhs.gov/rc/eMDRABMACSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">

	<!--
        Second Version : esMD AR2018.10.0 Release. - eMDR Schema for A-B MAC.
    -->
	<xs:import namespace="http://esmd.ois.cms.hhs.gov/rc/eMDRCommonTypes" schemaLocation="eMDRCommonTypes.xsd"/>
	<xs:element name="eMDRRequestMetadata">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation xml:lang="en">
					description
				</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="letterID">
					<xs:annotation>
						<xs:documentation>
	                        Letter ID.
	                    </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="([a-zA-Z0-9]{10,25})"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="letterDate" type="emdrct:dateType">
					<xs:annotation>
						<xs:documentation>
	                        Letter Date.
	                    </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="caseID" nillable="true" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
	                        Case ID.
	                    </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ReceiverDetails" type="tns:ReceiverDetails"/>
				<xs:element name="SenderDetails" type="tns:SenderDetails"/>
				<xs:element name="PointOfContact" type="tns:PointOfContact"/>
				<xs:element name="ProviderDetails" type="tns:ProviderDetails"/>
				<xs:element name="LetterDetails" type="tns:LetterDetails"/>
				<xs:element name="AttachmentInfo" type="emdrct:AttachmentInfo" nillable="true"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ReceiverDetails">
		<xs:annotation>
			<xs:documentation xml:lang="en">Receiver</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hihOID">
				<xs:annotation>
					<xs:documentation>
						HIH Information.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SenderDetails">
		<xs:annotation>
			<xs:documentation xml:lang="en">Sender information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderName" type="emdrct:Name">
				<xs:annotation>
					<xs:documentation>
						Sender Name.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="senderAddress" type="emdrct:Address">
				<xs:annotation>
					<xs:documentation>
						Sender Address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="senderTelephone" type="emdrct:Telephone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Sender Telephone details.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Jurisdiction">
				<xs:annotation>
					<xs:documentation>
						Name of the Jurisdiction
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([a-zA-Z0-9\s\-]{1,84})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PointOfContact">
		<xs:annotation>
			<xs:documentation xml:lang="en">Point of Contact</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pocName" type="emdrct:Name">
				<xs:annotation>
					<xs:documentation>
						POC Name.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pocAddress" type="emdrct:Address">
				<xs:annotation>
					<xs:documentation>
						POC Address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pocTelephone" type="emdrct:Telephone">
				<xs:annotation>
					<xs:documentation>
						POC Telephone.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="emdrct:EmailType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Email Address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="faxNumber" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Fax Number.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProviderDetails">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provider details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="providerName" type="emdrct:Name">
				<xs:annotation>
					<xs:documentation>
	                        Provider Name.
	                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="providerAddress" type="emdrct:Address">
				<xs:annotation>
					<xs:documentation>
                        Provider Address.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="npi">
				<xs:annotation>
					<xs:documentation>
                        NPI.
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:long">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="9999999999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fax" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Provider FAX Number.
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="providerTelephone" type="emdrct:Telephone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Provider Telephone details.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ptan" nillable="true">
				<xs:annotation>
					<xs:documentation>
                        Provider TAN.
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([a-zA-Z0-9]{1,12})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LetterDetails">
		<xs:annotation>
			<xs:documentation xml:lang="en">Letter Details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="responseDate" type="emdrct:dateType">
				<xs:annotation>
					<xs:documentation>
						Response Date
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resultsTobeDeliveredBy">
				<xs:annotation>
					<xs:documentation>
						Results to be delivered by.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="programName">
				<xs:annotation>
					<xs:documentation>
						Program Name.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="hippsCode">
				<xs:annotation>
					<xs:documentation>
						HIPPS Code.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClaimInfo" type="tns:ClaimInfo" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Claim info.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClaimInfo">
		<xs:annotation>
			<xs:documentation xml:lang="en">Claim Information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="claimID">
				<xs:annotation>
					<xs:documentation>
						Claim ID.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{13}"/>
						<xs:pattern value="[0-9]{14}"/>
						<xs:pattern value="[0-9]{15}"/>
						<xs:pattern value="[a-zA-Z0-9\s\-]{17,23}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BenificiaryName" type="emdrct:Name">
				<xs:annotation>
					<xs:documentation>
						Beneficiary Name.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="emdrct:dateType">
				<xs:annotation>
					<xs:documentation>
						Date of Birth.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="datesOfService" type="emdrct:dateorDateRangeType">
				<xs:annotation>
					<xs:documentation>
						Sender Telephone details.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subscriberId">
				<xs:annotation>
					<xs:documentation>
						Subscriber Id.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="procedureCode">
				<xs:annotation>
					<xs:documentation>
						Procedure Code.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="renderingProvider" type="emdrct:Name">
				<xs:annotation>
					<xs:documentation>
						Rendering Provider Name or Supplier Name.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comments" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">

						<!--<xs:pattern value="([a-zA-Z0-9]{0,3000})"/> -->
						<xs:minLength value="0"/>
						<xs:maxLength value="3000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>